<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
    {{!--<meta name="viewport" content="width=device-width, initial-scale=1">--}}
    
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <link rel="stylesheet" href="/stylesheets/easy-autocomplete.min.css">
    <link rel="stylesheet" href="/stylesheets/nice-select.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    {{#each stylesheets}}
    <link rel="stylesheet" href="{{this}}">
    {{/each}}
    <script type="text/javascript">
      var server = '{{server}}';
    </script>
  </head>

  <body>
    <div class="page-header">
      <h1>Grepolis Informant</h1>
      {{!--<div class="header-right">--}}
      {{>worldselect}}
      {{!--</div>--}}
    </div>
    <div class="container-fluid">
      {{{body}}}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/jquery.easy-autocomplete.min.js"></script>
    <script type="text/javascript" src="/js/jquery.nice-select.min.js"></script>
    <script type="text/javascript" src="/js/ui.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    {{#if scripts}}
      {{#each scripts}}
        <script type="text/javascript" src="{{this}}"></script>
      {{/each}}
    {{/if}}

  </body>

</html>