extends layout

block content
  h1= title
  div.ally
    select.allySelect(name='ally[]')
      option(value='') Select Alliance
      each o in alliances
        option(value=o.id) #{o.name} (#{o.rank})
  span.clear
  h3 Cities Gained: #{totalConquers}
  ol
    each o in cqCount
      li 
        span(style='display: inline-block; min-width: 150px; margin-right: 10px;') #{o.ally} :
        | #{o.count}
  if conquers
    table
      tr
        td <strong>Time</strong>
        td <strong>Town</strong>
        td <strong>Ocean</strong>
        td <strong>New Player</strong>
        td <strong>Old Player</strong>
        td
          a(href="#", style="font-size: 10px; text-decoration: none; color: orange; float: right;", onclick="$('.townBb').toggle(); $('.townName').toggle(); $('.newPlayerBb').toggle(); $('.newPlayer').toggle(); $('.oldPlayerBb').toggle(); $('.oldPlayer').toggle(); $('.bbcodeLink').toggle(); return false;") bbcode all
      each o in conquers
        tr
          td #{o.time}
          td 
            span.townName(class='townName' + o.town.id) #{o.town.name} 
            span.townBb(class='townBb' + o.town.id, style="display:none;") [town]#{o.town.id}[/town] 
            span.points (#{o.points} points) 
          td
            span.ocean o#{o.ocean}
          td 
            if (o.newplayer.id === 0)
              span.newPlayer(class='newPlayer' + o.newplayer.id + o.town.id) #{o.newplayer.name} 
            else
              span.newPlayer(class='newPlayer' + o.newplayer.id + o.town.id) 
                a(href='/' + server + '/player/' + o.newplayer.id) #{o.newplayer.name} 
            span.newPlayerBb(class='newPlayerBb' + o.newplayer.id + o.town.id, style="display:none;") [player]#{o.newplayer.name}[/player] 
            span.alliance (#{o.newally.name})
          td
            if (o.oldplayer.id === 0)
              span.oldPlayer(class='oldPlayer' + o.oldplayer.id + o.town.id) #{o.oldplayer.name} 
            else
              span.oldPlayer(class='oldPlayer' + o.oldplayer.id + o.town.id) 
                a(href='/' + server + '/player/' + o.oldplayer.id) #{o.oldplayer.name} 
            span.oldPlayerBb(class='oldPlayerBb' + o.oldplayer.id + o.town.id, style="display:none;") [player]#{o.oldplayer.name}[/player] 
            span.alliance (#{o.oldally.name})
          td
            a.bbcodeLink(href="#", style="font-size: 10px; text-decoration: none; color: orange; float: right;", onclick="$('.townBb#{o.town.id}').toggle(); $('.townName#{o.town.id}').toggle(); $('.newPlayerBb#{o.newplayer.id}#{o.town.id}').toggle(); $('.newPlayer#{o.newplayer.id}#{o.town.id}').toggle(); $('.oldPlayerBb#{o.oldplayer.id}#{o.town.id}').toggle(); $('.oldPlayer#{o.oldplayer.id}#{o.town.id}').toggle(); return false;") bbcode

block scripts
  script(type='text/javascript').
    (function (UI) {
      $(document).ready(function() {
        UI.loadSelector($('select'));
        $('.allySelect').on('change', function () {
          var id = $(this).val();
          top.location.href = '/' + server + '/alliance/' + id + '/conquers';
        });
      });
    })(new UI());