{{!-- TODO: Remove inline styles/scripts --}}
  <h2>{{title}}</h2>

  <div class="ally">
    <select name="ally[]" class="allySelect">
      <option value="">Select Alliance</option>
      {{#each alliances}}
        <option value="{{id}}"{{#if isActive}} selected="selected"{{/if}}>{{name}} ({{rank}})</option>
      {{/each}}
    </select>
  </div>
  <div class="quad">
    <select name="quad" class="quadSelect">
      <option value="">Select Quad</option>
      {{#each quads}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
  <span class="clear"></span>

  {{#if alliance.name}}
    <h4>{{alliance.name}} - {{quad}}{{ocean}}</h4>
  {{/if}}

  {{#if alliance.Members}}
    <table class="players" style="display: inline-block; vertical-align: top;">
      <tr>
        <td><strong>Player</strong></td>
        <td><strong>Towns</strong></td>
        <td><strong>Towns In Quad</strong></td>
        <td><strong>Ratio</strong></td>
        <td></td>
      </tr>
      {{#each alliance.Members}}
        <tr>
          <td><a href="/{{../server}}/player/{{id}}" title="{{name}}">{{name}}</a></td>
          <td>{{towns}}</td>
          <td>{{townsInQuad}}</td>
          <td>{{ratio}}%</td>
          <td><a href="#" onclick="$('#towns-{{id}}').toggle(); return false;">Towns</a></td>
        </tr>
      {{/each}}
    </table>
    <div id="towns" style="margin: 1em; display: inline-block; vertical-align: top;">
      <a href="#" onclick="$('.plaintext').toggle(); $('.bbcode').toggle(); return false;" style="width: 100px;font-size: 10px;display:block; margin-bottom: 1em;">
        [bbcode]
      </a>
      {{#each alliance.Members}}
        <table id="towns-{{id}}" style="display:none;">
          <tr>
            <td colspan="2" class="plaintext"><strong>{{name}}</strong></td>
            <td colspan="2" class="bbcode" style="display:none;">[player]{{name}}[/player]</td>
          </tr>
          <tr>
            <td colspan="2" class="bbcode" style="display:none;">[table]</td>
          </tr>
          {{#each Towns}}
          <tr class="plaintext">
            <td>{{name}}</td>
            <td>[town]{{id}}[/town]</td>
            <td>{{points}} points</td>
          </tr>
          <tr class="bbcode" style="display:none;">
            <td colspan="3">[*]{{name}}[|][town]{{id}}[/town][|]{{points}} points[/*]
          </tr>
          {{/each}}
          <tr>
            <td colspan="2" class="bbcode" style="display:none;">[/table]</td>
          </tr>
        </table>
      {{/each}}
    </div>
  {{/if}}

  <script type="text/javascript">
    var allyEndpoint = '/{{quad}}/{{ocean}}';
  </script>
  
  {{>footer}}