extends layout

block content
  h1= title
  div.ally
    select.allySelect(name='ally[]')
      option(value='') Select Alliance
      each o in alliances
        option(value=o.id) #{o.name} (#{o.rank})
  span.clear
  a(href="#", style="width: 100px;font-size: 10px;display:block; margin-bottom: 1em;", onclick='$("table.players").toggle(); $("textarea.bbcode").toggle(); return false;') bbcode
  if players
    table.players
      tr
        td 
          strong Rank
        td 
          strong Name
        td 
          strong Towns
        td 
          strong Towns Delta
        td
          strong Point Growth
        td 
          strong Att BP
        td 
          strong Def BP
        td 
          strong Total BP
      each o, i in players
        tr(class=((o.towns > 5 && o.allbp < 2000) || (o.points < 1000 && o.allbp < 1000) || (o.points < 1 && o.abp === 0)) ? 'red' : '')
          td #{i+1}
          td
            a(href='/' + server + '/player/' + o.id) #{o.name}
          td #{o.towns}
          td #{o.towns_delta}
          td #{accounting.formatNumber(o.points)}
          td #{accounting.formatNumber(o.abp)}
          td #{accounting.formatNumber(o.dbp)}
          td 
            strong #{accounting.formatNumber(o.allbp)}
      tr
        td
        td
          strong Total
        td
          strong #{accounting.formatNumber(sum.towns)}
        td
          strong #{accounting.formatNumber(sum.towns_delta)}
        td
          strong #{accounting.formatNumber(sum.points)}
        td
          strong #{accounting.formatNumber(sum.abp)}
        td
          strong #{accounting.formatNumber(sum.dbp)}
        td
          strong #{accounting.formatNumber(sum.allbp)}

    textarea.bbcode(style='width:600px;height:200px;white-space:pre-wrap;display:none;')
      | [table][**]Rank[||]Name[||]Towns[||]Towns Delta[||]Point Growth[||]Att BP[||]Def BP[||]Total BP[/**]&#13;&#10;
      each o, i in players
        [*]#{i+1}[|][player]#{o.name}[/player][|]#{accounting.formatNumber(o.towns)}[|]#{accounting.formatNumber(o.towns_delta)}[|]#{accounting.formatNumber(o.points)}[|]#{accounting.formatNumber(o.abp)}[|][b]#{accounting.formatNumber(o.allbp)}[/b][/*]&#13;&#10;
      | [**][||]Total[||]#{accounting.formatNumber(sum.towns)}[||]#{accounting.formatNumber(sum.towns_delta)}[||]#{accounting.formatNumber(sum.points)}[||]#{accounting.formatNumber(sum.abp)}[||]#{accounting.formatNumber(sum.dbp)}[||]#{accounting.formatNumber(sum.allbp)}[/**]
      | [/table]

block scripts
  script(type='text/javascript').
    (function (UI) {
      $(document).ready(function() {
        UI.loadSelector($('select'));
        $('.allySelect').on('change', function () {
          var id = $(this).val();
          top.location.href = '/' + server + '/allianceActivity/' + id;
        });
      });
    })(new UI());

    var ctrlDown = false,
        ctrlKeys = [17,91,93],
        cKey = 67

    $('textarea')
    .mouseup(function(e){
        // fixes safari/chrome problem
        e.preventDefault();
    })
    .focus(function(e){
        $(this).select();
    })
    .click(function(e){
        $(this).select();
    })
    .keydown(function (e) {
      if (ctrlKeys.indexOf(e.keyCode) !== -1)
        ctrlDown = true;
      
      if (!ctrlDown) {
        console.log('!ctrlDown')
        e.preventDefault();
        return false;
      }

      if (e.keyCode !== cKey) {
        console.log('!cKey')
        e.preventDefault();
        return false;
      }

    })
    .keyup(function (e) {
      if (ctrlKeys.indexOf(e.keyCode) !== -1)
        ctrlDown = false;
      // e.preventDefault();
    });
