<script type="text/template" id="playerTemplate">
  <div class="player">
    <input type="text" name="player[]" placeholder="Player Name" class="name">
    <input type="text" name="playercolor[]" value="" autocomplete="off" class="color startEmpty">
    <ul style="display:none;" class="players"></ul>{{!--  a.delete(href='#') Remove Player--}}
  </div>
</script>
<script type="text/template" id="allyTemplate">
  {{#if alliances}}
    <div class="ally">
      <select name="ally[]" class="allySelect">
        <option value="">Select Alliance</option>
        {{#each alliances}}
          <option value="{{id}}">{{name}} ({{rank}})</option>
        {{/each}}
      </select>
      <input type="text" name="allycolor[]" value="" autocomplete="off" class="color startEmpty">
    </div>
  {{/if}}
</script>

<div class="map-container">
  <div class="map">
    <div class="grid"></div>
    <div class="towns"></div>
  </div>
</div>

<script type="text/javascript">
  var server = '{{server}}';
  {{#if towns}}
    var towns = JSON.parse('{{{json towns}}}'),
        min_x = {{min_x}},
        min_y = {{min_y}},
        max_x = {{max_x}},
        max_y = {{max_y}};
  {{/if}}
  
  function drawGrid() {
    var $grid = $('.grid'),
        $line,
        $numbers = [],
        num;
    
    for (var i = 0; i < 10; i++) {
      for (var n = 0; n < 10; n++) {
        num = n + "" + i;
        $numbers.push(
          $('<span />', {
            class: 'num',
            text: "" + num
          }).css({
            top:(200*parseInt(i,10)+2) + 'px',
            left: (200*parseInt(n,10)+2) + 'px'
          })
        );
        $numbers.push(
          $('<span />', {
            class: 'num',
            text: "" + num
          }).css({
            top:(200*parseInt(i,10)+180) + 'px',
            left: (200*parseInt(n,10)+180) + 'px'
          })
        );
        $numbers.push(
          $('<span />', {
            class: 'num',
            text: "" + num
          }).css({
            top:(200*parseInt(i,10)+2) + 'px',
            left: (200*parseInt(n,10)+180) + 'px'
          })
        );
        $numbers.push(
          $('<span />', {
            class: 'num',
            text: "" + num
          }).css({
            top:(200*parseInt(i,10)+180) + 'px',
            left: (200*parseInt(n,10)+2) + 'px'
          })
        );
      }
    }    
    
    $numbers.forEach(function ($el) {
      $grid.append($el);
    });
    
    for (var x = 200; x < 2000; x += 200) {
      $line = $('<span />', { class: 'line-horz' }).css({
        top: x + 'px'
      });
      $grid.append($line);
    }
    
    for (var y = 200; y < 2000; y += 200) {
      $line = $('<span />', { class: 'line-vert' }).css({
        left: y + 'px'
      });
      $grid.append($line);
    }
  }
  
  function drawTowns() {
    var town, $towns = $('.towns'),
      townGroups = [],
      townGroup = [];
    
    var createTown = function (town, className) {
      return $('<span />', {
        class: 'town ' + className + ' ' + town.pl.n
      }).css({
        left: (town.x * 2) + 'px',
        top: (town.y * 2) + 'px',
        backgroundColor: 'green'
      });
    };
    
    for (var i = 0; i <= towns.length - 1; i++) {
       town = towns[i];
       
       if ((i + 1) % 100 === 0) {
         townGroups.push(townGroup);
         townGroup = [];
       }
       
       if (town.points < 2000) {
         townGroup.push(createTown(town, 'townSmall'));
       } else if (town.points < 6000) {
         townGroup.push(createTown(town, 'townMed'));
       } else {
         townGroup.push(createTown(town, ''));
       }
    }
    
    if (!townGroups.length) {
      townGroups.push(townGroup);
    }
    
    townGroups.forEach(function (group) {
       var $group = $('<div />', { class: 'townGroup' });
       group.forEach(function ($town) {
         $group.append($town);
       });
       $towns.append($group);
    });
  }
  
  drawGrid();
  
  if (min_x && min_y) {
    {{!--var scroll_y = min_y + ((max_y-min_y) / 2);--}}
    $('.map-container').scrollLeft(min_x);
    $('.map-container').scrollTop(500);
  }
  
  if (towns) {
    drawTowns();
  }
</script>