extends layout

block styles
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.7.1/spectrum.min.css')
  link(rel='stylesheet', href='/stylesheets/nice-select.css')
  link(rel='stylesheet', href='/stylesheets/easy-autocomplete.min.css')

block content

  script(type='text/template', id='playerTemplate')
    div.player
      input.name(type='text', name='player[]', placeholder='Player Name')
      input(class='color startEmpty', type='text', name='playercolor[]', value='', autocomplete='off')
      ul.players(style='display:none;')
  script(type='text/template', id='allyTemplate')
    div.ally
      select.allySelect(name='ally[]')
        option(value='') Select Alliance
        each o in alliances
          option(value=o.id) #{o.name} (#{o.rank})
      input(class='color startEmpty', type='text', name='allycolor[]', value='', autocomplete='off')

  div.options
    form.optionsForm(method='get', action='/v1/'+server+'/map', autocomplete='off')
      div.allyWrap
        if options && options.ally && options.ally.length
          each id, i in options.ally
            div.ally
              select.allySelect(name='ally[]')
                option(value='') Select Alliance
                each o in alliances
                  if (parseInt(id,10) === parseInt(o.id,10))
                    option(value=o.id, selected='selected') #{o.name} (#{o.rank})
                  else
                    option(value=o.id) #{o.name} (#{o.rank})
              input(class='color startEmpty', type='text', name='allycolor[]', value= (options.allycolor && options.allycolor[i]) ? options.allycolor[i] : '', autocomplete='off')
        else
          div.ally
            select.allySelect(name='ally[]')
              option(value='') Select Alliance
              each o in alliances
                option(value=o.id) #{o.name} (#{o.rank})
            input(class='color startEmpty', type='text', name='allycolor[]', value='', autocomplete='off')
        a.addAlly(href='#') + Add Alliance
        span.clear
      div.playerWrap
        if options && options.player && options.player.length
          each o, i in options.player
            div.player
              input.name(type='text', name='player[]', placeholder='Player Name', value= o.name)
              input(class='color startEmpty', type='text', name='playercolor[]', value=(options.playercolor && options.playercolor[i]) ? options.playercolor[i] : '', autocomplete='off')
              ul.players(style='display:none;')
        else
          div.player
            input.name(type='text', name='player[]', placeholder='Player Name')
            input(class='color startEmpty', type='text', name='playercolor[]', value='', autocomplete='off')
            ul.players(style='display:none;')
        a.addPlayer(href='#') + Add Player
      input(type='submit', value='Generate Map')

  canvas#mapCanvas(width='2000', height='2000')

block scripts
  script(type='text/javascript').
    var server = '#{server}',
        id = '#{id}',
        playersArray = !{(options.player.length) ? JSON.stringify(options.player) : "''"};
  script(type='text/javascript', src='https://code.createjs.com/preloadjs-0.6.1.min.js')
  script(type='text/javascript', src='https://code.createjs.com/easeljs-0.8.1.min.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.7.1/spectrum.min.js')
  script(type='text/javascript', src='/js/jquery.nice-select.min.js')
  script(type='text/javascript', src='/js/jquery.easy-autocomplete.min.js')
  script(type='text/javascript', src='/js/mapv2.js')