<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">{{title}}</div>
      </div>
      <table class="table">
        <tr>
          <th>Name</th>
          <td>
            <a href="/{{server}}/player/{{player.id}}" title="{{player.name}}">{{player.name}}</a>
          </td>
        </tr>
        <tr>
          <th>Alliance</th>
          <td>
            <a href="/{{server}}/alliance/{{player.Alliance.id}}" title="{{player.Alliance.name}}">
              {{player.Alliance.name}}
            </a>
          </td>
        </tr>
        <tr>
          <th>Rank</th>
          <td>{{player.rank}}</td>
        </tr>
        <tr>
          <th>Towns</th>
          <td>{{player.towns}}</td>
        </tr>
        <tr>
          <th>Points</th>
          <td>{{player.points}}</td>
        </tr>
        <tr>
          <th>ABP</th>
          <td>{{player.abp}}</td>
        </tr>
        <tr>
          <th>DBP</th>
          <td>{{player.dbp}}</td>
        </tr>
      </table>
    </div><!-- .panel -->
  </div><!-- .col-md-4 -->
</div><!-- .row -->

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li role="presentation"{{#if isDaily}} class="active"{{/if}}><a href="/{{server}}/player/{{id}}">Updates</a></li>
      <li role="presentation"{{#if isHourly}} class="active"{{/if}}><a href="/{{server}}/player/{{id}}/hourly">Updates (hourly)</a></li>
      <li role="presentation"{{#if isConquers}} class="active"{{/if}}><a href="/{{server}}/player/{{id}}/conquers">Conquers</a></li>
      <li role="presentation"{{#if isTowns}} class="active"{{/if}}><a href="/{{server}}/player/{{id}}/towns">Towns</a></li>
    </ul>

    {{!--{{#with player}}--}}
    {{#if isDaily}}
      <h3>Updates</h3>
      {{>player/updates}}
    {{else if isHourly}}
      <h3>Updates (hourly)</h3>
      {{>player/updates}}
    {{else if isConquers}}
      <h3>Conquests</h3>
      {{>conquers}}
    {{else if isTowns}}
      <h3>Towns</h3>
      {{>player/towns}}
    {{/if}}
    {{!--{{/with}}--}}
    
  </div><!-- .col-md-12 -->
</div><!-- .row -->

{{>footer}}