extends layout

block content
  h1= title
  h3 #{ally} vs #{enemy} - #{totalConquers} Cities Taken
  if conquers
    each bg, i in conquers
      h3 BG#{i}
      h5 Players: #{bg.players}
      h5 Cities Taken: #{bg.total}
      table
        tr
          td <strong>Time</strong>
          td <strong>Town</strong>
          td <strong>New Player</strong>
          td <strong>Old Player</strong>
          td
            a(href="#", style="font-size: 10px; text-decoration: none; color: orange; float: right;", onclick="$('.townBb#{i}').toggle(); $('.townName#{i}').toggle(); $('.newPlayerBb#{i}').toggle(); $('.newPlayer#{i}').toggle(); $('.oldPlayerBb#{i}').toggle(); $('.oldPlayer#{i}').toggle(); $('.bbcodeLink#{i}').toggle(); return false;") bbcode all
        each o in bg
          tr
            td #{o.time}
            td 
              span(class='townName' + i + ' townName' + o.town) #{o.townname} 
              span(class='townBb' + i + ' townBb' + o.town, style="display:none;") [town]#{o.town}[/town] 
              span.points (#{o.points} points) 
            td 
              span(class='newPlayer' + i + ' newPlayer' + o.newplayerid + o.town) #{o.newplayer} 
              span(class='newPlayerBb' + i + ' newPlayerBb' + o.newplayerid + o.town, style="display:none;") [player]#{o.newplayer}[/player] 
              span.alliance (#{o.newally})
            td
              span(class='oldPlayer' + i + ' oldPlayer' + o.oldplayerid + o.town) #{o.oldplayer} 
              span(class='oldPlayerBb' + i + ' oldPlayerBb' + o.oldplayerid + o.town, style="display:none;") [player]#{o.oldplayer}[/player] 
              span.alliance (#{o.oldally})
            td
              a(class='bbcodeLink' + i, href="#", style="font-size: 10px; text-decoration: none; color: orange; float: right;", onclick="$('.townBb#{o.town}').toggle(); $('.townName#{o.town}').toggle(); $('.newPlayerBb#{o.newplayerid}#{o.town}').toggle(); $('.newPlayer#{o.newplayerid}#{o.town}').toggle(); $('.oldPlayerBb#{o.oldplayerid}#{o.town}').toggle(); $('.oldPlayer#{o.oldplayerid}#{o.town}').toggle(); return false;") bbcode