  <script type="text/template" id="allyTemplate">
    <div class="ally">
      <select name="ally[]" class="allySelect static">
        <option value="">Select Alliance</option>
        {{#each alliances}}
          <option value="{{id}}">{{name}} ({{rank}})</option>
        {{/each}}
      </select>
    <div>
  </script>

  <h2>{{title}}</h2>

  <div>
    <form action="/{{server}}/alliance/{{alliance}}/intel" method="GET" id="allyForm">
      {{#each activityAlliances}}
        <div class="ally">
          <select name="ally[]" class="allySelect static">
            <option value="">Select Alliance</option>
            {{#each alliances}}
              <option value="{{id}}"{{#if isActive}} selected="selected"{{/if}}>{{name}} ({{rank}})</option>
            {{/each}}
          </select>
        </div>
      {{/each}}
      <input class="search-btn" type="button" value="Search" />
    </form>
    <span class="clear"></span>
    <a href="#" class="add-ally">+ Add Alliance</a>
    <span class="clear"></span>
  </div>
  
  <a href="#" class="bbtoggle">bbcode</a>
  {{#if members}}
    <table class="players">
      <tr>
        <td><strong>Rank</strong></td>
        <td><strong>Name</strong></td>
        <td><strong>Towns</strong></td>
        <td><strong>Towns Delta</strong></td>
        <td><strong>Point Growth</strong></td>
        <td><strong>Att BP</strong></td>
        <td><strong>Def BP</strong></td>
        <td><strong>Total BP</strong></td>
      </tr>
      {{#each members}}
        <tr>
          <td>{{rank}}</td>
          <td><a href="/{{../server}}/player/{{id}}">{{name}}</a></td>
          <td>{{towns}}</td>
          <td>{{towns_delta}}</td>
          <td>{{points}}</td>
          <td>{{abp}}</td>
          <td>{{dbp}}</td>
          <td> <strong>{{allbp}}</strong></td>
        </tr>
      {{/each}}
      <tr>
        <td></td>
        <td><strong>Total</strong></td>
        <td><strong>{{totals.towns}}</strong></td>
        <td><strong>{{totals.towns_delta}}</strong></td>
        <td><strong>{{totals.points}}</strong></td>
        <td><strong>{{totals.abp}}</strong></td>
        <td><strong>{{totals.dbp}}</strong></td>
        <td><strong>{{totals.allbp}}</strong></td>
      </tr>
    </table><!-- .players -->
    
    <textarea class="bbtable codearea">{{>bbtables/activity}}</textarea>
  {{/if}}

  <script type="text/javascript">
    var id = {{alliance}},
        allyEndpoint = '/activity';
  </script>
