  <h2>{{title}}</h2>

  {{>allyselect}}

  {{#unless hasStartTime}}
    <h3>{{subtitle}}: {{totalConquers}} (30 day)</h3>
  {{else}}
    <h3>{{subtitle}}: {{totalConquers}}</h3>
  {{/unless}}
  <ol>
    {{#each cqCount}}
      <li>
        <span class="cq-count">{{ally}} :</span>{{count}}
      </li>
    {{/each}}
  </ol>
  {{#if conquers}}
    <table>
      <tr>
        <td><strong>Time</strong></td>
        <td><strong>Town</strong></td>
        <td><strong>Ocean</strong></td>
        <td><strong>New Player</strong></td>
        <td><strong>Old Player</strong></td>
      </tr>

      {{#each conquers}}
        <tr>
          <td>{{time}}</td>
          <td>
            <span class="plaintext town-name">{{town.name}}</span>
            <span class="points">({{points}} points) </span>
          </td>
          <td>
            <span class="ocean">o{{ocean}}</span>
          </td>
          <td>
            {{#if newplayer.id}}
              <span class="plaintext newplayer-name">
                <a href="/{{../server}}/player/{{newplayer.id}}">{{newplayer.name}}</a>
              </span>
            {{else}}
              <span class="plaintext newplayer-name">{{newplayer.name}}</span>
            {{/if}}
            <span class="alliance">({{newally.name}})</span>
          </td>
          <td>
            {{#if oldplayer.id}}
              <span class="plaintext oldplayer-name">
                <a href="/{{../server}}/player/{{oldplayer.id}}">{{oldplayer.name}}</a>
              </span>
            {{else}}
              <span class="plaintext oldplayer-name">{{oldplayer.name}} </span>
            {{/if}}
            <span class="alliance-name">({{oldally.name}})</span>
          </td>
        </tr>
      {{/each}}

    </table>
  {{/if}}

{{>footer}}

  <script type="text/javascript">
    var allyEndpoint = '/conquers';
  </script>