  <h2>{{title}}</h2>

  {{>allyselect}}

  {{!-- {{#unless hasStartTime}}
    <h3>{{subtitle}}: {{totalConquers}} (30 day)</h3>
  {{else}} --}}
  <h3>{{subtitle}}: {{totalConquers}}</h3>
  {{!-- {{/unless}} --}}
  <ol>
    {{#each cqCount}}
      <li>
        <span class="cq-count">{{ally}} :</span>{{count}}
      </li>
    {{/each}}
  </ol>
  {{#if Conquers}}

    {{#if pagination}}
      {{>pagination}}
    {{/if}}

    {{>conquers}}

    {{#if pagination}}
      {{>pagination}}
    {{/if}}
    
  {{/if}}

{{>footer}}

<script type="text/javascript">
  var allyEndpoint = '/conquers';
</script>